@charset "UTF-8";

/* header navbar */
li .nav-link { font-family : goo;
	   color: white !important;
	   font-size: 20px; }
	
@FONT-FACE {
   font-family : 'goo';
   src:url("../ft/851Gkktt_005.ttf"); }

#logo { width:300px;}

