@charset "UTF-8";




li .nav-link { font-family : goo !important;
	   color: white !important;
	   font-size: 30px;
	}
	
	@FONT-FACE {
    font-family : 'goo';
    src:url("../ft/851Gkktt_005.ttf");
}