@charset "UTF-8";

/* main page */
.game-wrapper {
	width: 100%;
	display: grid;
	border: 1rem;
	margin-bottom: 5%;
}

.search-keyword, .live-streaming-subtitle, .search-box, .game-list {
	margin-left: 5%;
	margin-right: 5%;
	/* background-color: #D8E9E7 */
}

.live-streaming-subtitle {
	margin-top: 1rem;
}

.live-streaming {
	width: 90%;
	height: 20rem;
	background-color: #113351;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border: 2px solid;
	border-color: #DFA01E;
}

.search-box {
	width: 20%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.input-group.md-form.form-sm.poka-form input {
	border: 1px solid #113351;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.poka-form input:focus:not([readonly]) {
	border: 2px solid #DFA01E;
	box-shadow: 0px 0px 1px 0px #DFA01E;
}

.input-group.md-form.form-sm.form-2 input.poka-border {
	border: 1px solid #113351;
}

.search-keyword {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.xbtn {
	margin-left: 2px;
	margin-right: 2px;
}

.game-item {
	border: 2px solid #113351 !important;
}

.game-item:hover {
	border: 2px solid #DFA01E !important;
	cursor: pointer;
}

/* review-page */
.game-trailer {
	width: 100%;
	/* height: 480px; */
	border: 5px solid #113351 !important;
	background-color: #113351;
}

iframe {
	width: 888px;
	height: 480px;
}

.game-info {
	background-color: #D8E9E7;
	border-top: 4px solid #DFA01E !important;
	border-bottom: 2px solid #DFA01E !important;
}

.game-des {
	border-top: 2px solid #DFA01E !important;
	border-bottom: 2px solid #DFA01E !important;
}

.game-review {
	background-color: #D8E9E7;
	border-top: 2px solid #DFA01E !important;
	border-bottom: 4px solid #DFA01E !important;
}

.game-info .game-title, .game-des-subtitle, .game-review-subtitle {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0 5% 0;
}

.game-regdate, .game-company, .game-tag, .game-score {
	margin: 0 5%;
}

.game-des-content, .game-review-content {
	margin: 0.5rem 5%;
}

/* score*/
.score-text {
	font-size: 1.5em;
	font-weight: bold;
}

.rating {
	margin-left: 0;
	display: flex;
	flex-direction: row;
	font-size: 24px;
	padding: 0 .2em;
	text-align: center;
	width: 5em;
	border: none;
}

.rating>[id^="star"] {
	display: none
}

.rating>label:before {
	font-size: 1em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005"
}

.rating>.half:before {
	content: "\f089";
}

.rating>label {
	color: #DFA01E;
}

.rating>radio {
	display: none;
}

.go-to-store {
	width: 20rem;
}

.write-review {
	font-size: 1.5em;
	font-weight: bold;
}

.addbtn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1 px solid transparent;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25 rem;
}

/* 리뷰 폼 */
.review-form {
	margin: 0.5rem;
}

/* 별점 css */
.star-rating {
	display: flex;
	flex-direction: row-reverse;
	font-size: 1.5em;
	justify-content: space-around;
	padding: 0 .2em;
	text-align: center;
	width: 5em;
}

.star-rating input {
	display: none;
}

.star-rating label {
	color: #ccc;
	cursor: pointer;
}

.star-rating :checked ~ label {
	color: #f90;
}

.star-rating label:hover, .star-rating label:hover ~ label {
	color: #fc0;
}

/****** Style Star review-rating Widget *****/
.review-rating {
	border: none;
	float: left;
}

.review-rating>input {
	display: none;
}

.review-rating>label:before {
	margin: 5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.review-rating>.half:before {
	content: "\f089";
	position: absolute;
}

.review-rating>label {
	color: #ddd;
	float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.review-rating>input:checked ~ label, /* show gold star when clicked */
	.review-rating:not(:checked)>label:hover, /* hover current star */
	.review-rating:not(:checked)>label:hover ~ label {
	color: #FFD700;
} /* hover previous stars in list */
.review-rating>input:checked+label:hover,
	/* hover current star when changing review-rating */ .review-rating>input:checked 
	 ~ label:hover, .review-rating>label:hover ~ input:checked ~ label,
	/* lighten current selection */ .review-rating>input:checked ~ label:hover 
	 ~ label {
	color: #FFED85;
}

.reviewBox {
	list-style: none;
	padding-left: 6rem;
}

.reviewBox li {
	margin: 0.5rem 0; border : 2px solid #DFA01E;
	border-radius: 10px;
	padding: 0.5rem;
	border: 2px solid #DFA01E;
}

.reviewBox li:hover {
	background-color: #fff;
}

.modal-reveiw {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border-radius: 0.3 rem;
	outline: 0;
}