<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poka.mapper.FollowMapper">
	 <resultMap type="com.poka.domain.UserVO" id="userMap">
		<id property="userid" column="userid"/>
		<result property="user_id" column="user_id"/>
		<result property="nickname" column="nickname"/>
		<result property="img" column="img"/>
		<result property="lastlogin" column="lastlogin"/>
		<collection property="followList" resultMap="followMap"/>	
	</resultMap>
	
	<resultMap type="com.poka.domain.FollowVO" id="followMap">
		<result property="fno" column="fno"/>
		<result property="follow_userid" column="follow_userid"/>
		<result property="follower_userid" column="follower_userid"/>
		<result property="regDate" column="regDate"/>
 	</resultMap>
	
	<insert id="insert">
		<!-- 팔로우 한사람 -->
		insert into p_follow(fno, follow_userid, regDate)
			values('F'||seq_follow.NEXTVAL, #{follow_userid}, SYSDATE)
		<!-- 팔로우 당한사람 -->
		insert into p_follow(fno, follower_userid, regDate)
			values('F'||seq_follow.NEXTVAL, #{follower_userid}, SYSDATE)
    </insert>
    
    <delete id="delete">
    	delete p_follow where fno = #{fno}
    </delete>
    
    <select id="getfollowList" 
	        resultType="com.poka.domain.FollowVO">
	        select * from p_member 
	        where user_id in(
	        	select follower_userid from p_follow where follow_userid = #{follow_userid}
	        )
	        
	</select>
	
	<select id="getfollowerList" 
	        resultType="com.poka.domain.FollowVO">
	        select * from p_member
	        where user_id in(
	        	select follow_userid from p_follow where follower_userid = #{follower_userid}
	        )
	        
	</select>
	
	<select id="followchk" 
	        resultType="com.poka.domain.FollowVO">
	</select>
    
</mapper>







