<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poka.mapper.GradeMapper">

	<insert id="insert">
		insert into p_grade(grade_code, grade_name, grade_img, grade_lv)
		values('A'||#{grade_code}, #{grade_name}, #{grade_img}, #{grade_lv})
    </insert>
    
    <update id="update">
    	update p_grade set grade_name = #{grade_name},
    					   grade_img = #{grade_img}, grade_lv = #{grade_lv}
    	where grade_code = #{grade_code}
    </update>
    
    <delete id="delete">
    	delete p_grade where grade_code = #{grade_code}
    </delete>
    
    <select id="read" resultType="com.poka.domain.GradeVO">
    	select * from p_grade where grade_code = #{grade_code}
    </select>
    
    <select id="getList" 
	        resultType="com.poka.domain.GradeVO">
	        select *  from p_grade where grade_code IS NOT NULL order by grade_lv
	</select>
</mapper>







