<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poka.mapper.NewsMapper">
	<!-- 뉴스 목록 가져오기 -->
	<select id="getList" resultType="com.poka.domain.NewsVO">
		SELECT * FROM P_NEWS ORDER BY regDate DESC
	</select>
	<!-- 개별 뉴스 가져오기 -->
	<select id="read" resultType="com.poka.domain.NewsVO">
		SELECT * FROM P_NEWS WHERE newsNo = #{news_no}
	</select>
</mapper>