<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poka.mapper.NijiMapper">

    
    <select id="getTotalCount" resultType = "int" >

    </select>
    
    
    <!-- 쿼리 보관 -->
	<sql id="criteria">		

    				t.tagname like '%' || #{keyword} || '%'
					or n.title like '%' || #{keyword} || '%'
					or n.content like '%' || #{keyword} || '%'
					or n.writer like '%' || #{keyword} || '%'
	</sql>
	
	    <!-- 쿼리 보관 -->
	<sql id="category">		
			<choose>
    			<when test="type == 'B'.toString()">
    				WHERE b.category  = 'B' 
    			</when>
    			<when test="type == 'S'.toString()">
    				WHERE b.category  = 'S'
    			</when>
    		 </choose>
	</sql>
	
	   
    <select id="getListWithPaging" resultType = "com.poka.domain.NijiVO" >
 <![CDATA[
	  SELECT * 
        FROM   (
         SELECT  rownum rn,b.*
         from ( select distinct
	    N.NNO,N.TITLE,N.CONTENT,n.category,n.img,n.price,n.writer,n.regdate,n.updatedate
		FROM P_NIJI N
		LEFT OUTER JOIN P_NIJI_TAG T
		ON N.NNO = T.NNO
		WHERE 
 	 ]]>  
        <!-- 보관해 둔 쿼리 사용 -->
    	<include refid="criteria"></include>
     <![CDATA[
        AND    rownum <= #{pageNum} * #{amount} ) b 
      ]]>   
        <include refid="category"></include>
     <![CDATA[
        )  WHERE  rn > (#{pageNum} - 1) * #{amount}
 	 ]]>
    </select>
    
    <update id="update">

    </update>
    
    <delete id="delete">
	</delete>
    
    
    <select id="read" resultType="com.poka.domain.NijiVO">
    </select>

	<insert id="insert">
    </insert>
    
    
   <select id="getList" 
	        resultType="com.poka.domain.NijiVO">
	<![CDATA[
		SELECT DISTINCT N.NNO,N.TITLE,N.CONTENT,n.category,n.img,n.price,n.writer,n.regdate,n.updatedate
		FROM P_NIJI N
		LEFT OUTER JOIN P_NIJI_TAG T
		ON N.NNO = T.NNO
		WHERE t.tagname like '%' || #{keyword} || '%'
		or n.title like '%' || #{keyword} || '%'
		or n.content like '%' || #{keyword} || '%'
		or n.writer like '%' || #{keyword} || '%'
    ]]>
    </select>

    
       <select id="getTag" 
	        resultType="com.poka.domain.NijiTagVO">
		SELECT * 
		FROM P_NIJI_TAG
		WHERE nno = #{nno}
    </select>
    
    
</mapper>







