<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poka.mapper.UserMapper">
<!-- 	<resultMap type="com.poka.domain.UserVO" id="UserMap">
		<id property="userid" column="userid"/>
		<result property="userid" column="userid"/>
		<result property="userpw" column="userpw"/>
		<result property="nickname" column="nickname"/>
		<result property="email" column="email"/>
		<result property="birth" column="birth"/>
		<result property="gradecode" column="gradecode"/>
		<result property="userimg" column="userimg"/>
		<result property="gender" column="gender"/>
		<result property="lastlogin" column="lastlogin"/>
		<result property="account" column="account"/>
		<result property="regDate" column="regDate"/>
		<result property="updateDate" column="updateDate"/>
		<result property="enabled" column="enabled"/>
		<collection property="authList" resultMap="authMap"/>
	</resultMap>
	
	<resultMap type="com.poka.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap> -->
	
	<!-- ORACLE -->
<!-- 	<select id="read" resultMap="userMap">
        SELECT 				m.userid, userpw, nickname, email, birth, gradecode, user_img, gender, lastlogin, account, enabled, regdate, updateDate, auth
        FROM 				p_member m
        LEFT OUTER JOIN 	p_auth a
        ON					m.userid = a.userid
        WHERE				m.userid = #{userid}
    </select> -->
    
    <select id="logIn" resultType="int"></select>
    
    <insert id="signIn"></insert>
    
    <update id="update"></update>
    
    <delete id="withdraw"></delete>
    
    <select id="get" resultType="com.poka.domain.UserVO"></select>
    
    <select id="idchk" resultType="boolean"></select>
    
    <select id="nickchk" resultType="boolean"></select>
    
    <select id="emailchk" resultType="boolean"></select>
    
    <select id="pwchg" resultType="boolean"></select>
    
    <select id="nickchg" resultType="boolean"></select>
    
</mapper>







