<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poka.mapper.UserMapper">
	 <resultMap type="com.poka.domain.UserVO" id="userMap">
		<id property="userid" column="userid"/>
		<result property="user_id" column="user_id"/>
		<result property="user_pw" column="user_pw"/>
		<result property="nickname" column="nickname"/>
		<result property="email" column="email"/>
		<result property="birth" column="birth"/>
		<result property="gradecode" column="gradecode"/>
		<result property="img" column="img"/>
		<result property="gender" column="gender"/>
		<result property="lastlogin" column="lastlogin"/>
		<result property="account" column="account"/>
		<result property="regDate" column="regDate"/>
		<result property="updateDate" column="updateDate"/>
		<result property="enabled" column="enabled"/>
		<result property="grade_exp" column="grade_exp"/>
		<collection property="authList" resultMap="authMap"/>
	</resultMap>
	
	<resultMap type="com.poka.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
 	</resultMap>
	
	<!--ORACLE -->
	<select id="read" resultMap="userMap">
        SELECT 				m.user_id, user_pw, nickname, email, birth, gradecode, img, gender, lastlogin, account, enabled, regDate, updateDate, auth, grade_exp
        FROM 				p_member m
        LEFT OUTER JOIN 	p_auth a
        ON					m.user_id = a.userid
        WHERE				m.user_id = #{user_id}
     </select>
    
    <insert id="signIn">
    	insert into p_member values(#{user_id}, #{user_pw}, #{nickname}, #{email}, #{birth}, 'A1' , #{img}, #{gender}, SYSDATE, null, SYSDATE, null, null, 0)
    </insert>
    
    <delete id="withdraw">
    	delete p_member where user_id = #{user_id}
    </delete>
    
    <select id="idchk" resultType="int">
    	select count(user_id) from p_member where user_id = #{user_id}
    </select>
    
    <select id="nickchk" resultType="int">
    	select count(nickname) from p_member where nickname = #{nickname}
    </select>
    
    <update id="pwchg">
    	update p_member
    	set user_pw = #{user_pw}
    	where user_id = #{user_id}
    </update>
    
    <update id="nickchg">
    	update p_member
    	set nickname = #{nickname}
    	where user_id = #{user_id}
    </update>
    
</mapper>







